body {
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    display: flex;
    align-items: center;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.743);
    font-weight: 600;
}

.popup-button {
    height: 50px;
    width: 120px;
    align-self: center;
    background-color: rgba(33, 190, 33, 0.316);
    font-size: 24px;
    font-weight: bold;
}

.popup-button:hover {
    background-color: rgba(48, 231, 48, 0.732);
}

form {
    width: 40vw;
    margin-left: 10vw;
    margin-right: 50vw;
    margin-bottom: 30px;
}

.popup-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    top: 0;
    background-color: rgba(0, 0, 0, 0.456);
    animation: fade-in 1s;
}

.popup {
    display: none;
    animation: fade-in 1s;
}

.popup-content {
    position: absolute;
    display: grid;
    background-color: #ccecf3;
    grid-template-rows: repeat(1fr, 4);
    grid-template-columns: 1fr 1fr;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -150px;
    row-gap: 10px;
    padding: 20px;
    width: 300px;
    height: 300px;
    align-self: center;
    animation: fade-in 1s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

legend {
    position: absolute;
    justify-self: center
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
}

fieldset, input, select, button {
    border: 0px solid white;
    border-radius: 10px;
}

.delete, .status-button {
    width: 100%;
    height: 30px;
}

.status-button {
    background-color: #4ad0ee;
    color: white;
}

.status-button:hover {
    background-color: #12c6ee;
}

.delete {
    background-color: rgba(244, 59, 59, 0.734);
    color: white;
}

.delete:hover {
    background-color: rgba(237, 22, 22, 0.808);
}

table {
    border-bottom: rgba(0, 0, 0, 0.211) 2px solid;
    color: rgba(0, 0, 0, 0.743);
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

th {
    text-align: left;
}

.submit-button {
    grid-column: 1/3;
}

.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    background-color: 	#ccecf392;
    box-shadow:0px -2px 13px -1px rgba(0,0,0,0.75);
}

.main {
    margin-top: 20px;
}
